# Flask and Gunicorn settings
FLASK_APP=app.py
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=8001

# AWS S3 settings
S3_BUCKET_NAME=<replace with your bucket name>
S3_ACCESS_KEY=<your key>
S3_SECRET_KEY=<your secret>

# Server settings
PASSWORD_LENGTH=12
OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
